body{
    background-color:rgba(150, 4, 4, 0.966);
    color:white;
    font-family:cursive;
}
.titulo{
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:80px;
    border:5px solid whitesmoke;
    margin-left:300px;
    margin-right:300px;
}
h2{
    font-size: 50px
}
#capitanamerica{
    font-size:30px;
    position:relative;
}
.fotoheroe{
    width:400px;
    height:450px;
    border:4px solid black;
}
#lista{
    font-size:20px;
    position:absolute;
    left:400px;
    top:200px;
}
p{
    position:absolute;
    left:60%;
    top:14%;
    font-size:20px;
}
.fotovillano{
    position:absolute;
    left:73%;
    top:25%;
    width:350px;
    height:450px;
    border: 4px black solid;
}