body{
    background-color:black;
    font-family:fantasy;
    color:#ffffff;
}

.descripcion{
    font-size:20px;
    margin-left:10px;
}
.universoDC{
    background-color:transparent;
    background-image:url(https://laverdadnoticias.com/__export/1600444387660/sites/laverdad/img/2020/09/18/dc_universe_relanzamiento_2021_dc_universe_infinite.jpg_554688468.jpg);
    background-size:100%;
    background-repeat:repeat-y;
}
h2{
    font-size:50px;
    border: 10px double beige;
    margin-left:250px;
    margin-right:250px;
    margin-top:100px;
    display:flex;
    justify-content:center;
    align-items:center;
}

h3{
    font-size:40px;
    margin-left:10px;
    margin-top:30px;
}

.fotoheroe{
    width:400px;
    height:500px;
}

h5{
    font-size:25px;
    margin-bottom:10px
}
.fichaHeroes{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    position:relative;
    bottom:500px;
    right:125px;
}
.frase{
    position:relative;

    font-size:27px;
    margin-top:55px;
}
.fotovillano{
    width:400px;
    height:500px;
    display:inline;
    position:relative;
    bottom:600px;
    left:765px;
}
.villano{
    display:inline;
    position:relative;
    left:1060px;
    bottom:1120px;
    font-size:25px;
}
#SUPERMAN{
    position:relative;
    bottom:500px;
}
#FLASH{
    position:relative;
    bottom:950px;
}

#AQUAMAN{
    position:relative;
    bottom:1450px;
}
#WONDERWOMAN{
    position:relative;
    bottom:1950px;
}
#GREENLANTERN{ 
    position:relative;
    bottom:2500px;
}
#GREENARROW{
    position:relative;
    bottom:3000px;
    margin-bottom:10px;
}



